
@font-face {
    font-family: Forum;
     src: url("assets\fonts\Forum.zip");
   }
@font-face {
 font-family: Inter;
  src: url("assets\fonts\Inter.zip");

  * {
    box-sizing: border-box;
  }
}
.container {
width: 1440px;
height: 90px;
background: rgba(12, 12, 14, 1);
margin: 0 auto;
}
.nav_list {
display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;
color: rgba(255, 255, 255, 1);
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}